/* FOOTER styles
==================================================================================================== */

$footer-bkgd: #F4F7F8;
$footer-color: #838E93;
$footer-shadow-size: 10px;

footer {
	position: relative;
	z-index: 5;
	margin-top: -70px; // [sticky footer] negative value of footer height
	padding-top: 10px; // 18px;
	height: 70px;
	font: normal 11px $baseFont;
	color: $footer-color;
	text-transform: uppercase;
	background: $footer-bkgd;
	overflow: hidden;
}